<p><%= @org.name %></p>
<p><%= image_tag @org.logo.url %></p>
<p><%= @org.blurb %></p>
<%= link_to "Delete", admin_organisation_destroy_path(:id => @org.id), :confirm => "Are you sure?" %> | 
<%= link_to "Edit", edit_admin_organisation_path(:id => @org.id) %>
