<p id="notice"><%= notice %></p>

<% if @organisation.logo %>
<p>
	<%= image_tag @organisation.logo(:thumb) %>
</p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Blurb:</strong>
</p>
<%= simple_format @organisation.blurb %>

<% if @organisation.tags.length > 0 %>
  <p>
    <strong>Tags:</strong>
    <ul>
      <%= @organisation.tags.all.inject("") {|i,j| i += "<li>#{j.name}</li>" }.html_safe %>
    </ul>
  </p>
<% end %>

<% if @organisation.categories.length > 0 %>
  <p>
    <strong>Categories:</strong>
    <ul>
      <%= @organisation.categories.all.inject("") {|i,j| i += "<li>#{j.name}</li>" }.html_safe %>
    </ul>
  </p>
<% end %>


<% if @organisation.parent %>
	<p>
	  <strong>Parent:</strong>
	  <%= @organisation.parent.name %>
	</p>
<% end %>

<%= link_to 'Edit', edit_organisation_path(@organisation) %> |
<%= link_to 'Back', organisations_path %>
