<%= simple_form_for([:admin, @organisation]) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :blurb %>

    <%= image_tag @organisation.logo(:thumb) if @organisation.logo? %>
    <%= f.input :logo %>

    <%= f.input :parent_id, collection: Organisation.where.not(id: @organisation.id) %>
    <%= f.association :tags, as: :check_boxes  %>
    <%= f.association :categories, as: :check_boxes  %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
