<h3>Listing organisations</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= organisation.name %></td>
        <td><%= organisation.parent.name if organisation.parent %></td>
        <td><%= link_to 'Show', admin_organisation_path(organisation) %></td>
        <td><%= link_to 'Edit', edit_admin_organisation_path(organisation) %></td>
        <td><%= link_to 'Destroy', admin_organisation_path(organisation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organisation', new_admin_organisation_path %>
