<p id="notice"><%= notice %></p>

<% if @organisation.logo %>
<p>
	<%= image_tag @organisation.logo(:thumb) %>
</p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong>Blurb:</strong>
</p>
<%= simple_format @organisation.blurb %>

<% if @organisation.searches.present? %>
  <p>
    <strong>Searches:</strong>
    <ul>
      <% @organisation.searches.order(:search_type_id).each do |s| %>
        <li><%= s.search %></li>
      <% end %>
    </ul>
  </p>
<% end %>

<% if @organisation.parent %>
	<p>
	  <strong>Parent:</strong>
	  <%= @organisation.parent.name %>
	</p>
<% end %>

<%= link_to 'Edit', edit_admin_organisation_path(@organisation) %> |
<%= link_to 'Back', admin_organisations_path %>
