<!DOCTYPE html>
<html>
<head>
  <title>Scottish Entrepreneurial Support Network | Admin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="admin">
  <ul>
    <li>
      <%= link_to :root, "data-no-turbolink" => true do %>
        <%= image_tag "logo.png", :height => "35px" %>
      <% end %>
    </li>
    <li><%= link_to "Organisations", :admin_organisations %></li>
    <li><%= link_to "Tags", :admin_tags %></li>
    <li><%= link_to "Categories", :admin_categories %></li>
    <li class="logout"><%= link_to "Logout", :logout %></li>
  </ul>
</nav>

<% if flash[:alert] %>
  <p class="flash-error"><%= flash[:alert] %></p>
<% end %>

<% if flash[:notice] %>
  <p class="flash-notice"><%= flash[:notice] %></p>
<% end %>


<div style="clear: both;"></div>


<%= yield %>

</body>
</html>
