<!DOCTYPE html>
<html>
<head>
  <title>Scottish Entrepreneurial Support Network</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="logo">
  <a href="/" data-no-turbolink="true">
    <%= image_tag Header.first.image.url if Header.first %>
    <div class="header">
      <h1><%= Header.first.title if Header.first %></h1>
      <h2><%= Header.first.subtitle if Header.first %></h2>
    </div>
  </a>
</div>
<div style="clear: both;"></div>

<% if flash[:alert] %>
  <p class="flash error"><%= flash[:alert] %></p>
<% end %>

<% if flash[:notice] %>
  <p class="flash notice"><%= flash[:notice] %></p>
<% end %>

<%= yield %>

<div class="footer">
  <h3>Our Sponsors</h3>
  <small>Copyright <%= Time.now.year %> Power of Youth. All rights reserved.</small>
  <div style="clear: both;"></div>
  <hr />
  <%= image_tag Footer.first.image.url if Footer.first %>
</div>

</body>
</html>
